<div class="lists">
    <div>
        <div ng-repeat="list in lists" class="list" id="{{list.id}}">
            <div class="list-top">
                <div class="list-img">
                    <img ng-src="list.images" alt="照片">
                </div>
                <div class="list-description">
                    <h3 ng-bind="list.name"></h3>
                    <div ng-bind="list.description" class="description"></div>
                    <div class="list-tich">
                        <span ng-bind="list.time" class="list-time"></span>
                        <span class="delete" ng-click="zu()"><img src="images/icon2.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="" ui-sref="release" class="release-btn">发布出租</a>
    <a href="" class="finaishChange-btn">完成更改</a>
</div>
<div class="clear"></div>
<!--提示框部分 start-->
<div class="weui_dialog_confirm" id="dialog1" ng-if="toggle">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">警告</strong></div>
        <div class="weui_dialog_bd">您确定要删除此项么?</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default" ng-click="close()">取消</a>
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<!--提示框部分 end-->