<form class="release_form" name="release_form" ng-controller="AppController"  nv-file-drop="" uploader="uploader">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary  release_header">
            <p class="release_title">标题文字</p>
            <textarea class="weui_textarea weui_textarea_1" maxlength="30" placeholder="输入不超过30个字" rows="1" name="product_name" ng-model="porduct_name" required></textarea>
            <p class="release_title release_description">描述物品</p>
            <textarea class="weui_textarea weui_textarea_2" maxlength="200" placeholder="输入不超过200个字" rows="3"  ng-model="Description" name="description" required></textarea>
            <div class="weui_textarea_counter"><span ng-bind="Description.length"></span>/200</div>
        </div>
    </div>

    <!--上传图片-->
    <div>

        <div class="container" style="overflow: hidden">

            <div class="row">

                <div class="col-md-9">

                    <div>
                        <div ng-repeat="item in uploader.queue" class="tr">
                            <div class="td">
                                <!-- Image preview -->
                                <!--auto height-->
                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                <!--auto width-->
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                <span class="delePic" ng-click="item.remove()" ng-show="uploader.isHTML5"></span>
                                <!--fixed width and height -->
                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3"  ng-show="uploader.queue.length<4">
                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <div class="weui_uploader_input_wrp">
                        <input name="pic_1" nv-file-select="" uploader="uploader" class="weui_uploader_input" type="file" accept="image/*" multiple />
                        <span class="add_pic">添加图片</span>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="weui_cell no_bottom">
        <div class="weui_cell_bd weui_cell_primary release_much">
            <div>
                <input type="number" class="price" ng-value="{{release_much}}" pattern="[0-9]*" ng-model="release_much" name="price" required no-zero /> <span class="unit">元/天</span>
                <h3>租金</h3>
            </div>
        </div>
        <div class="weui_cell_bd weui_cell_primary release_mortgage">
            <div>
                <input  type="number" class="deposit" ng-value="release_mortgage" pattern="[0-9]*" ng-model="release_mortgage" name="deposit" required  no-zero /> <span class="unit">元</span>
                <h3>押金</h3>
            </div>
        </div>
    </div>
    <div class="weui_cell weui_cells_checkbox no_top">
        <label class="weui_cell weui_check_label mortgage_div" for="s11">
            <div class="weui_cell_hd">
                <input type="checkbox" class="weui_check" name="checkbox1" id="s11" ng-model="toggle_mortgage"/>
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p ng-class="{'agree_content':!toggle_mortgage}" style="margin-left: 1.3rem">同意有效证件(学生证、身份证等),可抵适当押金</p>
                <div class="input_mortgage" ng-show="toggle_mortgage">
                    请输入抵扣额度: <input type="number" class="mortgage_input" name="cardFree" no-zero ng-model="mortgage_input"/> 元
                </div>
            </div>
        </label>
    </div>
    <div class="weui_cell weui_cell_primary">
        <input value="确认发布" ng-disabled="release_form.$invalid || uploader.queue.length==0" pattern="[0-9]*" type="button" ng-click="uploader.uploadAll()" class="weui_btn weui_btn_primary confirm_release" />
    </div>
</form>